<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>页面头部管理</title>
</head>
<body th:fragment="myheader">
<div class="layui-header">
    <div class="layui-logo">Life System</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">控制台</a></li>
        <li class="layui-nav-item"><a href="">商品管理</a></li>
        <li class="layui-nav-item"><a href="">用户</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <!--头像区域-->
                <img th:href="#{c020b9aa3945c5a593e69db14546202f_1.jpg}" class="layui-nav-img">
                drew<!--当前登录名称-->
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">安全设置</a></dd>
                <dd><a href="">退出登录</a></dd><!--重定位到登录界面-->
            </dl>
        </li>
    </ul>
</div>
</body>
</html>